body {
	font-family: 'Courier New', monospace;
	/* font-family: sans-serif; */
	color: black;
	background-color: white;
}

h1 {
	text-align: center;
}

p {
	color: black;
	/* border: 5px solid black; */
}

/* profile page styles */
.profileBar {
	background-color:  #ccddff;
	/* border: 5px solid black; */
	text-align: center;
	word-spacing: 30px;
	width: 500px;
	margin: auto; /* centers the div */
}

.profileInfo {
	margin: auto;
	text-align: center;
	width: 1000px;
	height: auto;
	/* border: 1px solid black; */
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 120%;
}
