<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
		<title>Simple document</title>
	</head>
	<body>

		<div class="recipiente-perfil">

			<div class="recipiente-nome-foto">
				<img src={{data.url_foto_perfil}} class="foto-perfil">
				<div class="recipiente-usuarionome"> @{{data.usuario_nome}} 
				</div>
			</div>

			<div class="descricao-perfil">

				<p> {{data.descricao}} </p>
			</div>
				<button class="botao-seguir">
					Seguir
				</button>

		</div>

		<hr>

		<nav>
			<ul class="nav-usuario">
				<li class="nav-usuario-item" > <a href="/u/{{data.usuario_nome}}"> POSTAGENS {{data.numero_postagens}}</a> </li>
				<li class="nav-usuario-item"> <a href="/u/{{data.usuario_nome}}/seguidores"> SEGUIDORES 183</a> </li>
				<li class="nav-usuario-item"> <a href="/u/{{data.usuario_nome}}/seguindo"> SEGUINDO 183</a> </li>
			</ul>
		</nav>
		{% block extensao_usuario %}	

		{% endblock extensao_usuario %}	
	</body>
</html>

