body {
  color: #44474a;

}

table {
  text-align: center;
  width: 100%;
}
  table th {
    background: #f8f8f8;
    font-weight: bold;
  }
   table th,
  td {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 15px 10px;
  }
.sticky-thc th {
    position: sticky;
    top: 0;
  
}
